body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100vw;
}

.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-width: 200px;
}

.controls label {
    float: left;
    width: 100%;
}

.legend {
    /* margin: 10px; */
    /* padding: 10px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* max-width: 200px; */
}

.legend button {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border: none;
    cursor: pointer;
}

.legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend img {
    margin-right: 8px;
}

.content {
    padding-left: 10px;
    padding-bottom: 10px;
}